.label-editor-container {
    max-height: calc(100vh - (100px + 100px)) !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lsf-object>div {
    max-height: 375px !important;
}

.lsf-object>div.lsf-toolbar {
    max-height: 200px !important;
    overflow: hidden;
}